


$bg-1: #222;


$extra-contrast: 1;
$disabled: 0;

@if $theme == "dark" {
    $bg-1: #222;
    $extra-contrast: 1;
}
@else if $theme == "light" {
    $bg-1: rgb(255, 241, 224);
    $extra-contrast: 0;

}
@else if $theme == "green" {
    $bg-1: rgb(180, 255, 120);
    $extra-contrast: 0;
}

$bg-1b: mix($bg-1, #000, 95%);
$bg-2: mix($bg-1, #000, 75%);

$fg-1: #fff - $bg-1;
$fg-2: #eee - $bg-1;

$fg-a: #ccf - $bg-1;
$fg-a-visited: #a7e;
