@import 'base';

body {
    background: $bg-1!important;
    color: $fg-1!important;
}

.appbar {
    background:$bg-1!important;
}

.sbib_a, .sbdd_b, .sbsb_a, .sbibod, g-inner-card {
    background: $bg-2!important;
}

.sfbgg, #hdtb, #hdtbSum, #fbar {
    background: $bg-1b!important;
}

#hdtb {
    border-bottom-color: $bg-2!important;
}

.gsfi, .s, .s .st em, .s.s.std em, .cwUqwd, .Q8LRLc, .kno-ecr-pt {
    color: $fg-1!important;
}

a, .NFQFxe.xXEKkb {
    color: $fg-a!important;
}

a:visited, .sbpqs_a{
    color: $fg-a-visited!important;
}

cite {
    color: #0a3!important;
}
